@model SLBMVC.Models.QueryModel

<form asp-action="QueryDiscogs" method="post">
    <label asp-for="Title">Tytuł:</label>
    <input asp-for="Title" type="text" />
    <input type="submit" value="Search" />
</form>